huggingface_space_mirror/
random_test.py
__pycache__
*.ckpt
*.safetensors
*.pth
*.dev.js
*_s.py
*_u.py
*_m.py
*_i.py
*.txt
.DS_Store
/output/
/outputs/
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/venv2
/tmp
/output
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh

# Keep specific tracked files even though we ignore the patterns above.
!requirements_versions.txt
!ui-config.json
!config.json
!webui-user.sh
!webui-user.bat
!extensions-builtin/sd_forge_controlnet/requirements.txt
!extensions-builtin/forge_legacy_preprocessors/requirements.txt
!localizations/Put localization files here.txt
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
/test/test_outputs
/cache
trace.json
/sysinfo-????-??-??-??-??.json
/test/results.xml
coverage.xml
**/tests/**/expectations
